<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MonitorFolder" value="C:\Temp\MonitorFolder" />
    <add key="AlertIntervalMinutes" value="30" />
    <add key="MonitorStartTime" value="06:00" />
    <add key="MonitorEndTime" value="22:00" />
    <add key="SmtpServer" value="smtp.server.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpUser" value="user@domain.com" />
    <add key="SmtpPassword" value="password" />
    <add key="EnableSsl" value="true" />
    <add key="MailFrom" value="alert@domain.com" />
    <add key="MailTo" value="recipient@domain.com" />
    <add key="MailSubject" value="Folder Monitor Alert" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
        <add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
