<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Test SMTP Configuration (MailHog) -->
    <add key="SmtpServer" value="localhost" />
    <add key="SmtpPort" value="1025" />
    <add key="SmtpUsername" value="" />
    <add key="SmtpPassword" value="" />
    <add key="SmtpEnableSsl" value="false" />
    <add key="SmtpUseDefaultCredentials" value="false" />
    
    <!-- Test Email Settings -->
    <add key="FromEmail" value="foldermonitor@test.local" />
    <add key="FromName" value="Folder Monitor Service (Test)" />
    <add key="ToEmail" value="admin@test.local" />
    
    <!-- Test Environment Settings -->
    <add key="Environment" value="Development" />
    <add key="MonitorPath" value="" /> <!-- Will be set dynamically in tests -->
    
    <!-- Test Configuration -->
    <add key="EnableEmailNotifications" value="true" />
    <add key="EmailBatchSize" value="10" />
    <add key="EmailBatchTimeoutSeconds" value="30" />
    
    <!-- Base64 encoded test password: "TestPassword123!" -->
    <add key="EncodedTestPassword" value="VGVzdFBhc3N3b3JkMTIzIQ==" />
  </appSettings>
  
  <system.net>
    <mailSettings>
      <smtp from="foldermonitor@test.local">
        <network 
          host="localhost" 
          port="1025" 
          userName="" 
          password="" 
          enableSsl="false" 
          defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.TestPlatform.TestFramework" 
                          publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>